{% extends 'base.html.twig' %}

{% block content %}

    {{ game.word }}
    <h2>Guess the mysterious word</h2>

    <p class="attempts">
        You still have {{ game.remainingAttempts }} remaining attempts.
    </p>

    <ul class="word_letters">
        {% for letter in game.wordLetters %}
            <li class="letter hidden">
                {{ game.letterFound(letter) ? letter : '?' }}
            </li>
        {% endfor %}
    </ul>

    <br class="clearfix" />

    <p class="attempts">
        <a href="{{ path('app_game_reset') }}">Reset the game</a>
    </p>

    <br class="clearfix" />

    <h2>Try a letter</h2>

    <ul>
        {% for l in 'a'..'z' %}
            <li class="letter">
                <a href="{{ path('app_game_letter', {letter: l} ) }}">
                    {{ l }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>Try a word</h2>

    <form action="{{ path('app_game_word') }}" method="post">
        <p>
            <label for="word">Word:</label>
            <input type="text" id="word" name="word"/>
            <button type="submit">Let me guess...</button>
        </p>
    </form>
{% endblock %}